body { 
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-size: 20px;
}
p {
  margin: 0;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
}
a:visited{
  text-decoration: none;
  color: black;
}
.trp{
  text-align: right;
}
.br {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1vh;
  margin-right: 1vw;
  width: 35vw;
  text-align: right;
}
.bl{
  position: fixed;
  bottom: 0;
  left:0;
  margin-bottom: 1vh;
  margin-left: 1vw;
}
.tl{
  position: fixed;
  top:0;
  left: 0;
  margin-top: 1vh;
  margin-left: 1vw;
}
.tr{
  position: fixed;
  top:0;
  right:0;
  margin-top: 1vh;
  margin-right: 1vw;
}